@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-pink: hsl(322, 100%, 66%);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-very-pale-blue: hsl(207, 100%, 98%);

  /* fonts */
  --font-popines: var(--font-poppins);
  --font-opens: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 

.first {
  background: 
    url('../../public/source/images/bg-section-top-mobile-1.svg') top center no-repeat,
    url('../../public/source/images/bg-section-bottom-mobile-1.svg') bottom center no-repeat,
    linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 15%, hsl(207, 100%, 98%) 94%, transparent 90%);
  background-size: auto, auto, 100% 100%;
  background-repeat: no-repeat;
  background-position: top center, bottom center, center center;

}
.second {
  background: 
    url('../../public/source/images/bg-section-top-mobile-2.svg') top center no-repeat,
    url('../../public/source/images/bg-section-bottom-mobile-2.svg') bottom center no-repeat,
    linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 15%, hsl(207, 100%, 98%) 82%, transparent 90%);
  background-size: auto, auto, 100% 100%;
  background-repeat: no-repeat;
  background-position: top center, bottom center, center center;
}
.foot {
  background: 
    url('../../public/source/images/bg-footer-top-mobile.svg') top center no-repeat,
    linear-gradient(to top, hsl(192, 100%, 9%) 94%, transparent 20%);
    
}

.icon {
  @apply w-7 h-7 lg:w-8 lg:h-8 xl:w-10 xl:h-10  hover:text-pink hover:border-pink cursor-pointer
}

.line{
  @apply hover:underline whitespace-nowrap px-0 cursor-pointer xl:text-xl
}

 
@media (min-width:768px) {
  .first {
    background: 
      url('../../public/source/images/bg-section-top-desktop-1.svg') top center no-repeat,
      url('../../public/source/images/bg-section-bottom-desktop-1.svg') bottom center no-repeat,
      linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 10%, hsl(207, 100%, 98%) 88%, transparent 55%);

  }

  .second {
    background: 
      url('../../public/source/images/bg-section-top-desktop-2.svg') top center no-repeat,
      url('../../public/source/images/bg-section-bottom-desktop-2.svg') bottom center no-repeat,
      linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 15%, hsl(207, 100%, 98%) 82%, transparent 90%);
  }

  .foot {
    background: 
      url('../../public/source/images/bg-footer-top-desktop.svg') top center no-repeat,
      linear-gradient(to top, hsl(192, 100%, 9%) 82%, transparent 20%);
  }
}

@media (min-width:1024px) {
  .first {
    background: 
      url('../../public/source/images/bg-section-top-desktop-1.svg') top center no-repeat,
      url('../../public/source/images/bg-section-bottom-desktop-1.svg') bottom center no-repeat,
      linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 25%, hsl(207, 100%, 98%) 85%, transparent 55%);
      background-size: contain;

  }

  .second {
    background: 
      url('../../public/source/images/bg-section-top-desktop-2.svg') top center no-repeat,
      url('../../public/source/images/bg-section-bottom-desktop-2.svg') bottom center no-repeat,
      linear-gradient(to bottom, transparent 13%, hsl(207, 100%, 98%) 30%, hsl(207, 100%, 98%) 72%, transparent 90%);
      background-size: contain;

  }

  .foot {
    background: 
      url('../../public/source/images/bg-footer-top-desktop.svg') top center no-repeat,
      linear-gradient(to top, hsl(192, 100%, 9%) 77%, transparent 20%);
      background-size: contain;
  }
}